
{% extends "base.html" %}

{% block content %}

<h1>{{name}}</h1>

<div id="table1">
    {{ html | safe}}
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock %}

